Repository dart-frog-dev/dart_frog, pull requests merged in 2023-08, with the labels that each got.

#811 feat: add uninstall command
  packages/dart_frog_cli/lib/src/command_runner.dart
  packages/dart_frog_cli/lib/src/commands/commands.dart
  packages/dart_frog_cli/lib/src/commands/uninstall/uninstall.dart
  packages/dart_frog_cli/test/src/command_runner_test.dart
  packages/dart_frog_cli/test/src/commands/uninstall/uninstall_test.dart
Labels: enhancement

#830 docs(vscode): include information regarding random test ordering
  extensions/vscode/CONTRIBUTING.md
Labels: documentation, vscode

#822 feat(vscode): add changelog button to warning message
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/extension.test.ts
  extensions/vscode/src/test/suite/utils/cli-version.test.ts
  extensions/vscode/src/utils/cli-version.ts
Labels: vscode

#834 fix(vscode): resolved typo in dialog label
  extensions/vscode/src/commands/new-middleware.ts
  extensions/vscode/src/commands/new-route.ts
  extensions/vscode/src/test/suite/commands/new-middleware.test.ts
  extensions/vscode/src/test/suite/commands/new-route.test.ts
Labels: vscode

#831 feat(vscode): improved path resolution algorithm from command palette
  extensions/vscode/src/commands/new-middleware.ts
  extensions/vscode/src/commands/new-route.ts
  extensions/vscode/src/test/suite/commands/new-middleware.test.ts
  extensions/vscode/src/test/suite/commands/new-route.test.ts
  extensions/vscode/src/test/suite/utils/dart-frog-structure.test.ts
  extensions/vscode/src/utils/dart-frog-structure.ts
Labels: vscode

#835 feat(vscode): normalizing middleware parent as route path
  extensions/vscode/src/test/suite/utils/dart-frog-structure.test.ts
  extensions/vscode/src/utils/dart-frog-structure.ts
Labels: vscode

#838 feat(vscode): prompt middleware route path when activated from command palette
  extensions/vscode/src/commands/new-middleware.ts
  extensions/vscode/src/test/suite/commands/new-middleware.test.ts
Labels: vscode

#850 chore(vscode): v0.1.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/test/suite/utils/cli-version.test.ts
  extensions/vscode/src/utils/cli-version.ts
Labels: chore, vscode

#852 chore(vscode): v0.1.0
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: chore, vscode

#859 docs(authentication): fix link to general http
  docs/docs/advanced/authentication.md
Labels: documentation

#855 chore(deps): bump `package:mocktail` and `very_good_analysis`
  bricks/create_dart_frog/__brick__/pubspec.yaml
  bricks/create_dart_frog/hooks/pubspec.yaml
  bricks/dart_frog_dev_server/hooks/pubspec.yaml
  bricks/dart_frog_new/hooks/pubspec.yaml
  bricks/dart_frog_prod_server/hooks/pubspec.yaml
  docs/docs/tutorials/todos.md
  examples/basic_authentication/pubspec.yaml
  examples/bearer_authentication/pubspec.yaml
  examples/counter/pubspec.yaml
  examples/echo/pubspec.yaml
  examples/hello_world/pubspec.yaml
  examples/kitchen_sink/pubspec.yaml
  examples/todos/packages/in_memory_todos_data_source/pubspec.yaml
  examples/todos/packages/todos_data_source/pubspec.yaml
  examples/todos/pubspec.yaml
  examples/web_socket_counter/pubspec.yaml
  extensions/vscode/src/test/suite/utils/dart-frog-structure.test.ts
  packages/dart_frog/pubspec.yaml
  packages/dart_frog_auth/pubspec.yaml
  packages/dart_frog_cli/pubspec.yaml
  packages/dart_frog_gen/pubspec.yaml
  packages/dart_frog_web_socket/pubspec.yaml
Labels: chore, dependencies

#856 docs(authentication): fix typo
  docs/docs/advanced/authentication.md
Labels: documentation

#857 docs(vscode): update README links and style
  extensions/vscode/README.md
Labels: documentation, vscode

#863 chore(vscode): v0.1.1
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: chore, vscode

#858 docs(vscode): include references to VS Code extension
  docs/docs/basics/middleware.md
  docs/docs/basics/resources.md
  docs/docs/basics/routes.md
  docs/docs/overview.md
  docs/docs/tutorials/counter.md
  docs/docs/tutorials/echo.md
  docs/docs/tutorials/hello_world.md
  docs/docs/tutorials/todos.md
  docs/docs/tutorials/web_socket_counter.md
Labels: documentation, vscode

#864 fix(vscode): avoid recommending to upgrade when version is above constraints
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/extension.test.ts
Labels: vscode

#862 test(vscode): use stub.resolves over stub.returns with Promise
  extensions/vscode/src/test/suite/commands/create.test.ts
  extensions/vscode/src/test/suite/commands/new-middleware.test.ts
  extensions/vscode/src/test/suite/commands/new-route.test.ts
Labels: test, vscode

#812 docs: add uninstall instructions
  docs/docs/overview.md
Labels: documentation

#883 docs: update versions on docs
  docs/docs/overview.md
  docs/docs/tutorials/todos.md
Labels: documentation

#895 refactor(vscode): rename command prefix to "dart-frog"
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/extension.test.ts
Labels: refactor, vscode

#917 feat(vscode): define singleton DartFrogDeamon
  extensions/vscode/src/daemon/dart-frog-daemon.ts
  extensions/vscode/src/daemon/index.ts
  extensions/vscode/src/test/suite/daemon/dart-frog-daemon.test.ts
Labels: vscode

#915 feat(vscode): implement daemon protocol
  extensions/vscode/src/daemon/index.ts
  extensions/vscode/src/daemon/protocol.ts
  extensions/vscode/src/test/suite/daemon/protocol.test.ts
Labels: vscode

#918 feat(vscode): define "deamon" domain messages
  extensions/vscode/src/daemon/dart-frog-daemon.ts
  extensions/vscode/src/daemon/protocol/domains/daemon.ts
  extensions/vscode/src/daemon/protocol/domains/index.ts
  extensions/vscode/src/daemon/protocol/index.ts
  extensions/vscode/src/daemon/protocol/protocol.ts
  extensions/vscode/src/test/suite/daemon/protocol/domains/daemon.test.ts
  extensions/vscode/src/test/suite/daemon/protocol/protocol.test.ts
Labels: vscode

#925 feat(vscode): allow invoking Dart Frog daemon
  extensions/vscode/src/daemon/dart-frog-daemon.ts
  extensions/vscode/src/test/suite/daemon/dart-frog-daemon.test.ts
Labels: vscode

#929 feat(vscode): implemented requestIdentifierGenerator for Dart Frog daemon
  extensions/vscode/src/daemon/dart-frog-daemon.ts
  extensions/vscode/src/test/suite/utils/identifier-generator.test.ts
  extensions/vscode/src/utils/identifier-generator.ts
  extensions/vscode/src/utils/index.ts
Labels: vscode

#931 feat(vscode): defined dev_server domain
  extensions/vscode/src/daemon/protocol/domains/dev-server.ts
  extensions/vscode/src/daemon/protocol/domains/index.ts
  extensions/vscode/src/test/suite/daemon/protocol/domains/dev-server.test.ts
Labels: vscode

#932 feat(vscode): defined DartFrogApplication
  extensions/vscode/src/daemon/dart-frog-application.ts
  extensions/vscode/src/daemon/index.ts
  extensions/vscode/src/test/suite/daemon/dart-frog-application.test.ts
Labels: vscode

#930 feat(vscode): allow daemon to send requests
  extensions/vscode/src/daemon/dart-frog-daemon.ts
  extensions/vscode/src/daemon/protocol/domains/daemon.ts
  extensions/vscode/src/test/suite/daemon/dart-frog-daemon.test.ts
Labels: vscode

#933 feat(vscode): defined DartFrogApplicationRegistry
  extensions/vscode/src/daemon/dart-frog-application-registry.ts
  extensions/vscode/src/daemon/dart-frog-daemon.ts
  extensions/vscode/src/daemon/index.ts
  extensions/vscode/src/test/suite/daemon/dart-frog-application-registry.test.ts
Labels: vscode

#940 fix(dart_frog): comply with new analysis rules
  packages/dart_frog/test/src/body_parsers/form_data_test.dart
  packages/dart_frog/test/src/request_test.dart
  packages/dart_frog/test/src/response_test.dart
Labels: chore

#943 feat(vscode): allow starting the daemon via command
  extensions/vscode/README.md
  extensions/vscode/package.json
  extensions/vscode/src/commands/index.ts
  extensions/vscode/src/commands/start-daemon.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/commands/start-daemon.test.ts
Labels: vscode

#939 docs(dart_frog): corrected serve function documentation typo
  packages/dart_frog/lib/src/serve.dart
Labels: documentation

#896 chore(vscode): include license in packages.json
  extensions/vscode/package.json
Labels: vscode

#952 feat(vscode): allow starting development server
  extensions/vscode/README.md
  extensions/vscode/package.json
  extensions/vscode/src/commands/index.ts
  extensions/vscode/src/commands/start-dev-server.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/commands/start-dev-server.test.ts
Labels: vscode

#908 feat(dart_frog): add optional shared parameter to serve function
  packages/dart_frog/lib/src/serve.dart
  packages/dart_frog/test/src/serve_test.dart
Labels: enhancement

#900 feat(dart_frog_cli): support lowercase r to reload
  packages/dart_frog_cli/lib/src/commands/dev/dev.dart
  packages/dart_frog_cli/test/src/commands/dev/dev_test.dart
Labels: enhancement

#953 feat(vscode): allow stopping development server
  extensions/vscode/README.md
  extensions/vscode/package.json
  extensions/vscode/src/commands/index.ts
  extensions/vscode/src/commands/stop-dev-server.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/commands/stop-dev-server.test.ts
Labels: vscode

#887 docs: dart frog auth context documentation
  docs/docs/advanced/authentication.md
Labels: documentation

#956 refactor(vscode): allow quickPickApplication to be shared
  extensions/vscode/src/commands/stop-dev-server.ts
  extensions/vscode/src/test/suite/commands/stop-dev-server.test.ts
  extensions/vscode/src/test/suite/utils/dart-frog-application.test.ts
  extensions/vscode/src/utils/dart-frog-application.ts
  extensions/vscode/src/utils/index.ts
Labels: refactor, vscode

#902 chore: update dart_frog_gen version
  bricks/dart_frog_dev_server/hooks/pubspec.yaml
  bricks/dart_frog_new/hooks/pubspec.yaml
  bricks/dart_frog_prod_server/hooks/pubspec.yaml
  packages/dart_frog_cli/pubspec.yaml
Labels: chore

#955 feat(vscode): allow attaching development server to Dart debugger
  extensions/vscode/package.json
  extensions/vscode/src/commands/debug-dev-server.ts
  extensions/vscode/src/commands/index.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/commands/debug-dev-server.test.ts
Labels: vscode

#962 refactor(vscode): included sort-import and no-unused-vars lint rules
  extensions/vscode/.eslintrc.json
  extensions/vscode/src/commands/create.ts
  extensions/vscode/src/commands/debug-dev-server.ts
  extensions/vscode/src/commands/install-cli.ts
  extensions/vscode/src/commands/new-middleware.ts
  extensions/vscode/src/commands/new-route.ts
  extensions/vscode/src/commands/start-daemon.ts
  extensions/vscode/src/commands/start-dev-server.ts
  extensions/vscode/src/commands/stop-dev-server.ts
  extensions/vscode/src/commands/update-cli.ts
  extensions/vscode/src/daemon/dart-frog-daemon.ts
  extensions/vscode/src/daemon/protocol/domains/daemon.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/runTest.ts
  extensions/vscode/src/test/suite/commands/install-cli.test.ts
  extensions/vscode/src/test/suite/commands/new-middleware.test.ts
  extensions/vscode/src/test/suite/commands/new-route.test.ts
  extensions/vscode/src/test/suite/commands/start-dev-server.test.ts
  extensions/vscode/src/test/suite/commands/stop-dev-server.test.ts
  extensions/vscode/src/test/suite/commands/update-cli.test.ts
  extensions/vscode/src/test/suite/daemon/dart-frog-daemon.test.ts
  extensions/vscode/src/test/suite/extension.test.ts
  extensions/vscode/src/test/suite/index.ts
  extensions/vscode/src/test/suite/utils/cli-version.test.ts
  extensions/vscode/src/test/suite/utils/dart-frog-application.test.ts
  extensions/vscode/src/test/suite/utils/dart-frog-structure.test.ts
  extensions/vscode/src/test/suite/utils/identifier-generator.test.ts
  extensions/vscode/src/utils/suggest-installing-dart-frog-cli.ts
Labels: refactor, vscode

#974 feat(vscode): register startDebugDevServer command
  extensions/vscode/README.md
  extensions/vscode/package.json
  extensions/vscode/src/commands/debug-dev-server.ts
  extensions/vscode/src/commands/index.ts
  extensions/vscode/src/commands/start-debug-dev-server.ts
  extensions/vscode/src/commands/start-dev-server.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/commands/debug-dev-server.test.ts
  extensions/vscode/src/test/suite/commands/start-debug-dev-server.test.ts
  extensions/vscode/src/test/suite/commands/start-dev-server.test.ts
Labels: documentation, enhancement, vscode

#978 docs: add links to docs on readmes
  README.md
  packages/dart_frog/README.md
  packages/dart_frog_auth/README.md
  packages/dart_frog_cli/README.md
  packages/dart_frog_web_socket/README.md
Labels: documentation

#960 feat(vscode): provide Run CodeLens on route handlers
  extensions/vscode/README.md
  extensions/vscode/package.json
  extensions/vscode/src/code-lens/index.ts
  extensions/vscode/src/code-lens/on-request-code-lens.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/code-lens/on-request-code-lens.test.ts
  extensions/vscode/src/test/suite/extension.test.ts
Labels: documentation, enhancement, vscode

#973 feat(vscode): provide Debug CodeLens on route handlers
  extensions/vscode/README.md
  extensions/vscode/src/code-lens/on-request-code-lens.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/code-lens/on-request-code-lens.test.ts
  extensions/vscode/src/test/suite/extension.test.ts
Labels: documentation, enhancement, vscode
