Repository dart-frog-dev/dart_frog, pull requests merged in 2023-09, with the labels that each got.

#988 feat(vscode): add status bar items to start, stop and open server
  extensions/vscode/assets/dart-frog.woff
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/status-bar/dart-frog-status-bar-item.ts
  extensions/vscode/src/status-bar/index.ts
  extensions/vscode/src/status-bar/open-application-status-bar-item.ts
  extensions/vscode/src/status-bar/start-stop-application-status-bar-item.ts
  extensions/vscode/src/test/suite/status-bar/open-application-status-bar-item.test.ts
  extensions/vscode/src/test/suite/status-bar/start-stop-application-status-bar-item.test.ts
Labels: enhancement, vscode

#987 docs: add daemon logging events section
  docs/docs/advanced/daemon.md
Labels: documentation

#980 docs: adding jwt authentication tutorial
  docs/docs/tutorials/jwt_authentication.md
Labels: documentation

#975 docs: add docs for route config domain
  docs/docs/advanced/daemon.md
Labels: documentation

#1002 feat(vscode): strengthen when clauses with anyDartFrogProjectLoaded
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/suite/extension.test.ts
Labels: enhancement, vscode

#1001 feat(vscode): added stop to debug toolbar
  extensions/vscode/assets/commands/stop-dev-server--dark.svg
  extensions/vscode/assets/commands/stop-dev-server--light.svg
  extensions/vscode/package.json
Labels: enhancement, vscode

#1010 feat(vscode): include host member in DartFrogApplication
  extensions/vscode/src/daemon/dart-frog-application.ts
  extensions/vscode/src/status-bar/open-application-status-bar-item.ts
  extensions/vscode/src/test/suite/daemon/dart-frog-application.test.ts
  extensions/vscode/src/utils/dart-frog-application.ts
Labels: enhancement, vscode

#1014 refactor(vscode): rename nearestDartFrogProject to nearestParentDartFrogProject
  extensions/vscode/src/code-lens/on-request-code-lens.ts
  extensions/vscode/src/commands/new-middleware.ts
  extensions/vscode/src/commands/new-route.ts
  extensions/vscode/src/commands/start-daemon.ts
  extensions/vscode/src/commands/start-dev-server.ts
  extensions/vscode/src/test/suite/code-lens/on-request-code-lens.test.ts
  extensions/vscode/src/test/suite/commands/new-middleware.test.ts
  extensions/vscode/src/test/suite/commands/new-route.test.ts
  extensions/vscode/src/test/suite/commands/start-daemon.test.ts
  extensions/vscode/src/test/suite/commands/start-dev-server.test.ts
  extensions/vscode/src/test/suite/commands/stop-dev-server.test.ts
  extensions/vscode/src/test/suite/utils/dart-frog-structure.test.ts
  extensions/vscode/src/utils/dart-frog-structure.ts
Labels: refactor, vscode

#1015 feat(vscode): implemented nearestChildDartFrogProjects
  extensions/vscode/src/test/suite/utils/dart-frog-structure.test.ts
  extensions/vscode/src/utils/dart-frog-structure.ts
Labels: enhancement, vscode

#1027 test(vscode): simplify start-dev-server tests
  extensions/vscode/src/test/suite/commands/start-dev-server.test.ts
Labels: refactor, test, vscode

#1029 chore(vscode): 0.2.0
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: chore, vscode

#1028 chore(vscode): request code ownership on vscode
  .github/CODEOWNERS
Labels: chore

#1031 docs(vscode): update README.md
  extensions/vscode/README.md
  extensions/vscode/assets/demonstration.gif
Labels: documentation

#1035 chore(vscode): rollback engines.vscode version
  extensions/vscode/package.json
Labels: chore, vscode

#1034 chore(depandabot): avoid updating types/vscode
  .github/dependabot.yaml
Labels: chore

#1032 docs: update Attach Debugger roadmap item
  docs/docs/roadmap.md
Labels: documentation

#1036 chore(vscode): 0.2.1
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: chore, vscode

#1018 refactor(vscode): split Dart Frog project resolution into workspace and editor
  extensions/vscode/src/commands/new-middleware.ts
  extensions/vscode/src/commands/new-route.ts
  extensions/vscode/src/commands/start-daemon.ts
  extensions/vscode/src/commands/start-dev-server.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/status-bar/dart-frog-status-bar-item.ts
  extensions/vscode/src/test/suite/commands/new-middleware.test.ts
  extensions/vscode/src/test/suite/commands/new-route.test.ts
  extensions/vscode/src/test/suite/commands/start-daemon.test.ts
  extensions/vscode/src/test/suite/commands/start-dev-server.test.ts
  extensions/vscode/src/test/suite/commands/stop-dev-server.test.ts
  extensions/vscode/src/test/suite/extension.test.ts
  extensions/vscode/src/test/suite/status-bar/open-application-status-bar-item.test.ts
  extensions/vscode/src/test/suite/status-bar/start-stop-application-status-bar-item.test.ts
  extensions/vscode/src/test/suite/utils/dart-frog-project.test.ts
  extensions/vscode/src/utils/dart-frog-project.ts
  extensions/vscode/src/utils/index.ts
Labels: refactor, vscode

#1039 chore(vscode): remove new-route-middleware.gif
  extensions/vscode/assets/new-route-middleware-usage.gif
Labels: chore

#1043 fix(vscode): detach from debug session on premature application exit
  extensions/vscode/src/commands/debug-dev-server.ts
  extensions/vscode/src/test/suite/commands/debug-dev-server.test.ts
Labels: vscode

#1041 fix(vscode): support async route handlers
  extensions/vscode/src/code-lens/on-request-code-lens.ts
  extensions/vscode/src/test/suite/code-lens/on-request-code-lens.test.ts
Labels: vscode

#1046 fix(vscode): support CodeLens for very long route signatures
  extensions/vscode/src/code-lens/on-request-code-lens.ts
  extensions/vscode/src/test/suite/code-lens/on-request-code-lens.test.ts
Labels: vscode

#1045 docs: add daemon request format warning
  docs/docs/advanced/daemon.md
Labels: documentation

#1047 docs(vscode): add disclaimer to the extension
  extensions/vscode/README.md
Labels: documentation, vscode

#1025 feat(vscode): implemented quickPickProject
  extensions/vscode/src/test/suite/utils/dart-frog-application.test.ts
  extensions/vscode/src/test/suite/utils/dart-frog-project.test.ts
  extensions/vscode/src/utils/dart-frog-project.ts
Labels: enhancement, vscode

#1026 feat(vscode): show quickPickProject on monorepos
  extensions/vscode/src/commands/new-middleware.ts
  extensions/vscode/src/commands/new-route.ts
  extensions/vscode/src/commands/start-daemon.ts
  extensions/vscode/src/commands/start-dev-server.ts
  extensions/vscode/src/test/suite/commands/new-middleware.test.ts
  extensions/vscode/src/test/suite/commands/new-route.test.ts
  extensions/vscode/src/test/suite/commands/start-daemon.test.ts
  extensions/vscode/src/test/suite/commands/start-dev-server.test.ts
  extensions/vscode/src/test/suite/commands/stop-dev-server.test.ts
  extensions/vscode/src/test/suite/utils/dart-frog-project.test.ts
  extensions/vscode/src/utils/dart-frog-project.ts
Labels: enhancement, vscode

#1051 docs(dart_frog_cli): Add methods usage examples
  docs/docs/advanced/daemon.md
Labels: documentation

#1058 chore(vscode): 0.2.2
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: vscode

#1064 fix(vscode): ensure nearestParentDartFrogProject is Windows compatible
  extensions/vscode/src/utils/dart-frog-project.ts
Labels: vscode

#1068 fix(vscode): ensure create command is Windows compatible
  extensions/vscode/src/commands/create.ts
  extensions/vscode/src/test/suite/commands/create.test.ts
Labels: vscode

#1070 test(vscode): used double quotes on create stub
  extensions/vscode/src/test/suite/commands/create.test.ts
Labels: vscode

#1071 chore(vscode): 0.2.3
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
Labels: vscode

#1072 ci(dart_frog_cli): remove concurrency to avoid intermittent hangs and test failures
  .github/workflows/dart_frog_cli.yaml
Labels: ci
