Repository dart-frog-dev/dart_frog, pull requests merged in 2023-06, with the labels that each got.

#713 feat(vscode): create Visual Studio Code extension project
  extensions/vscode/.eslintrc.json
  extensions/vscode/.gitignore
  extensions/vscode/.vscode/extensions.json
  extensions/vscode/.vscode/launch.json
  extensions/vscode/.vscode/settings.json
  extensions/vscode/.vscode/tasks.json
  extensions/vscode/.vscodeignore
  extensions/vscode/LICENSE
  extensions/vscode/README.md
  extensions/vscode/assets/logo.png
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/tsconfig.json
Labels: enhancement

#717 feat(vscode): includes extension testing setup
  extensions/vscode/.c8rc.json
  extensions/vscode/.gitignore
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/runTest.ts
  extensions/vscode/src/test/suite/extension.test.ts
  extensions/vscode/src/test/suite/index.ts
Labels: enhancement, test

#721 ci(vscode): fix workflow typo
  .github/workflows/dart_frog_vscode.yaml
Labels: bug, github_actions

#736 feat(dart_frog): provider support nullable values
  packages/dart_frog/lib/src/context.dart
  packages/dart_frog/lib/src/provider.dart
  packages/dart_frog/test/src/provider_test.dart
Labels: enhancement
